.intro {
  position: relative;
}

.intro::before {
  content: "";

  position: absolute;
  bottom: -37px;

  width: 100%;
  height: 37px;

  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;

  z-index: 1;
}

.intro__background {
  position: relative;

  width: 100%;
  height: 390px;
  margin-bottom: 40px;

  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.intro__background::before {
  content: "";

  position: absolute;
  top: 90px;
  left: 50%;

  width: 282px;
  height: 214px;
  margin-left: -141px;

  background-image: url("../img/text-sedona-index.svg");
  background-size: contain;
}

.intro__background::after {
  content: "";

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 57px;

  background-image: url("../img/bg-intro-triangle-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}

.intro__title {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.intro__text {
  margin-bottom: 0;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;

  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $text;
}

@media (min-width: $tablet) {
  .intro::before {
    background-image: none;
  }

  .intro__background {
    height: 518px;
    margin-bottom: 50px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .intro__background::before {
    top: 77px;

    width: 460px;
    height: 350px;
    margin-left: -230px;
  }

  .intro__title {
    width: 445px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    font-size: 21px;
  }

  .intro__text {
    margin-bottom: 45px;
  }
}
